body {
    background-color: #f5f5f5;
    user-select: none
}

p {
    font-style: italic;
    font-size: 14px;
}

.conteudo {
    border-bottom: 1px solid #ccc; /* Adiciona uma borda inferior */
    padding-bottom: 10px; /* Espaçamento opcional entre as divs */
    margin-bottom: 10px; /* Espaçamento opcional entre as divs */
}

.xPath {
    background-color: #ffcc00;
    /* Define a cor de fundo como amarelo */
    color: #fff;
    /* Define a cor do texto como branco */
    border: none;
    /* Remove a borda existente */
    padding: 8px 16px;
    /* Preenchimento interno */
    border-radius: 4px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Altera o cursor ao passar sobre o botão */
    margin-right: 8px;
    /* Adiciona um pequeno espaço à direita */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra mais sutil ao redor do botão */
}

.xPath:hover {
    background-color: #ffbb00;
    /* Altera a cor de fundo ao passar o mouse */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Altera a sombra ao passar o mouse */
}

.xPath:active {
    background-color: #ffaa00;
    /* Altera a cor de fundo temporariamente quando clicado */
    box-shadow: none;
    /* Remove a sombra quando clicado */
}

.processador,
#retornoLista {
    background-color: #727cf5;
    /* Define a cor de fundo como #727cf5 */
    color: #fff;
    /* Define a cor do texto como branco */
    border: none;
    /* Remove a borda existente */
    padding: 8px 16px;
    /* Preenchimento interno */
    border-radius: 4px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Altera o cursor ao passar sobre o botão */
    margin-right: 8px;
    /* Adiciona um pequeno espaço à direita */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra mais sutil ao redor do botão */
}

.processador:hover,
#retornoLista:hover {
    background-color: #5e68e4;
    /* Altera a cor de fundo ao passar o mouse */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Altera a sombra ao passar o mouse */
}

.processador:active,
#retornoLista:active {
    background-color: #3a3f9e;
    /* Altera a cor de fundo temporariamente quando clicado */
    box-shadow: none;
    /* Remove a sombra quando clicado */
}

.destaque {
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 18px;
}

.tooltip {
    display: none;
    position: fixed;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 9999;
}


#processadorBanco,
#hifen,
#depoisDoHifen,
#descricaoPadrao,
#naoAplicavel,
#ampersand,
#letraAComEspacosEmTorno {
    display: none;
}

#retornoLista {
    float: right;
    text-decoration: none;
    margin-top: 7px;
    font-size: 18px; /* Altere o tamanho da fonte conforme necessário */
    padding: 10px 20px; /* Ajuste o padding conforme necessário para aumentar a largura do botão */
}

.disponivel {
    width: 150px;
    background-color: #4CAF50;
    /* Verde */
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    /* Tamanho do botão */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.disponivel:hover {
    background-color: #347a38;
    /* Verde escuro no hover */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Sombra no hover */
}

.disponivel:active {
    background-color: #154f25;
    /* Altera a cor de fundo temporariamente quando clicado */
    box-shadow: none;
    /* Remove a sombra quando clicado */
}

.indisponivel {
    width: 150px;
    background-color: #b4aaaa;
    /* Verde */
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    /* Tamanho do botão */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.indisponivel:hover {
    background-color: #838483;
    /* Verde escuro no hover */
}

.indisponivel:active {
    background-color: #5c5c5d;
    /* Altera a cor de fundo temporariamente quando clicado */
    box-shadow: none;
    /* Remove a sombra quando clicado */
}

.header-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

.logo {
    width: 60px; /* Define o tamanho da imagem */
    height: auto; /* Mantém a proporção */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    margin-bottom: 5px;
}

h1 {
    margin: 0; /* Limpa as margens padrão do h1 */
    margin-bottom: 7px;
}

.button-container {
    text-align: center;
}

.textoProcessador{
    font-weight: bold;
}